{
  "inbound": {                  //客户端入口配置,通常
    "port": 1080,               //客户端接受其他程序转发请求的服务端口
    "protocol": "socks",        //客户端接受的协议
    "settings": {
      "auth": "noauth"          //通常为本机所以不需要验证
    }
  },
  "outbound": {                 //客户端传出方向只需要和服务端一一对应
    "protocol": "vmess",        //客户端传给服务端的加密协议
    "settings": {
      "vnext": [
        {
          "address": "",    //服务端地址
          "port": ,                 //服务端监听端口
          "users": [
            {
              "id": "", //服务端所需要的密钥
              "alterId": 
            }
          ]
        }
      ]
    }
  }
}
