{
  "$schema": "https://opencode.ai/config.json",
  "permission": {
    "bash": {
      "git push *": "ask",
      "rm -rf *": "ask",
      "sudo *": "ask",
      "rm /tmp/*": "allow"
    }
  },
  {{- if eq .chezmoi.os "darwin" }}
  "theme": "catppuccin-frappe"
  {{- else if eq .chezmoi.os "linux" }}
  "theme": "system"
  {{- end }}
}
